<br>
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">

  <h3><b>Dashboard</b></h3>

<div class="container-fluid" style="display: inline;">
  <div class="row">
    <div class="col">
<canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">
</canvas>
    </div>
<div class="col">
<canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'">
</canvas>
</div>
<div class="col">
<canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'"
        >
</canvas>
</div>
</div>
</div>

<!--
<div style="display: block;">
  <canvas baseChart width="400" height="400"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas>
</div>
<canvas baseChart
        [datasets]="radarChartDatasets"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [type]="'radar'">
</canvas>
<canvas baseChart
        [datasets]="polarAreaChartDatasets"
        [labels]="polarAreaChartLabels"
        [legend]="polarAreaLegend"
        [options]="polarAreaOptions"
        [type]="'polarArea'">
</canvas>
-->