<h1 mat-dialog-title>Detalles horómetro</h1>
<div mat-dialog-content>
    <form [formGroup]="ManpowerForm">
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" type="text" matInput placeholder="0">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Tiempo total</mat-label>
                <input formControlName="tiempototal" type="number" matInput placeholder="0">
                </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Faltas</mat-label>
            <input formControlName="faltas" type="number" matInput placeholder="0">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Actas y amonestaciones</mat-label>
              <input formControlName="actasYamon" type="number" matInput placeholder="0">
            </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">

    <button class="btn btn-outline-danger" mat-dialog-close>Cerrar</button>

</div>