<h1 mat-dialog-title class="text"><b>Detalles</b></h1>
<div mat-dialog-content>
  <form [formGroup]="BitacoraForm">
    <br>

    <div class="container text-center" id="horometro">
      <div class="row">
        <div class="col">

          <mat-card>
            <mat-card-title>Disponibilidad</mat-card-title>
            <mat-card-content>
              <p> {{this.detallesData.tdisponibilidad}} </p>
            </mat-card-content>
          </mat-card>

          </div>
          <div class="col">

            <mat-card>
              <mat-card-title>Turno</mat-card-title>
              <mat-card-content>
                <p> {{this.detallesData.tturno}} </p>
              </mat-card-content>
            </mat-card>

          </div>
      </div>
    </div>
    <div class="container text-center" id="horometro">
      <div class="row">
        <div class="col">

          <mat-card>
            <mat-card-title>Piezas utilizadas</mat-card-title>
            <mat-card-content>
              <p> {{this.detallesData.tpiezasutilizadas}} </p>
            </mat-card-content>
          </mat-card>

          </div>
          <div class="col">

            <mat-card>
              <mat-card-title>Técnico</mat-card-title>
              <mat-card-content>
                <p> {{this.detallesData.ttecnico}} </p>
              </mat-card-content>
            </mat-card>

          </div>
      </div>
    </div>
    <div class="container text-center" id="horometro">
      <div class="row">
        <div class="col">

          <mat-card>
            <mat-card-title>Supervisor</mat-card-title>
            <mat-card-content>
              <p> {{this.detallesData.tsupervisor}} </p>
            </mat-card-content>
          </mat-card>

          </div>
          <div class="col">

            <mat-card>
              <mat-card-title>Sistema</mat-card-title>
              <mat-card-content>
                <p formControlName="tsistema"> {{this.detallesData.tsistema}} </p>
              </mat-card-content>
            </mat-card>

          </div>
      </div>
    </div>
    <div class="container text-center" id="horometro">
      <div class="row">
        <div class="col">

          <mat-card>
            <mat-card-title>Subsistema</mat-card-title>
            <mat-card-content>
              <p> {{this.detallesData.tsubsistema}} </p>
            </mat-card-content>
          </mat-card>
            
          </div>
          <div class="col">

            <mat-card class="detalles">
              <mat-card-title>Efectos de falla</mat-card-title>
              <mat-card-content>
                <p> {{this.detallesData.tefectosfalla}} </p>
              </mat-card-content>
            </mat-card>
            
          </div>
        </div>
      </div>

  </form>
</div>

<div mat-dialog-action [align]="'end'">

  <button class="btn btn-danger" mat-dialog-close>Cerrar</button>

</div>