<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="nav">
    <img class="CIMANoLetters" src="../../../../../assets/dist/img/CIMANoLetters.png" />
    <div class="text">
    <p>CIMA<b>GROUP</b></p>
    </div>
  </div>
  <div class="login">
    <img class="CIMALogin" src="../../../../../assets/dist/img/CIMALogin.jpg">
    <div class="container">
      <div class="row">
        <div class="col back">
          <img class="CIMA" src="../../../../../assets/dist/img/CIMA.png">
              <div class="slogan">
                  <b><p>Expertos en logística</p></b>
              </div>
          </div>
          <div class="col">
            <div class="glassmorfism">
              <label class="title">Iniciar Sesión</label>
              <br><br>
              <form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><mat-icon>person</mat-icon></span>
                      <input formControlName="usuario" [class.is-invalid]="f.usuario.errors && f.usuario.touched" type="email" class="form-control" id="exampleFormControlInput1" placeholder="No. Trabajador">
                  </div>
                  <br>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><mat-icon>https</mat-icon></span>
                    <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password"
                      class="form-control" id="exampleFormControlInput2" placeholder="Contraseña">
                  </div>
                  <br>
                  <div class="mb-3">
                      <button class="btn btn-dark">Ingresar</button>
                  </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>


<!--
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="nav">
    <img class="CIMANoLetters" src="../../../../../assets/dist/img/CIMANoLetters.png" />
    <div class="text">
    <p>CIMA<b>GROUP</b></p>
    </div>
  </div>
  <div class="login">
    <img class="CIMALogin" src="../../../../../assets/dist/img/CIMALogin.jpg">
    <div class="container">
      <div class="row">
        <div class="col back">
          <img class="CIMA" src="../../../../../assets/dist/img/CIMA.png">
              <div class="slogan">
                  <b><p>Expertos en logística</p></b>
              </div>
          </div>
          <div class="col">
            <div class="glassmorfism">
              <label class="title">Iniciar Sesión</label>
              <br><br>
              <form [formGroup]="formLogin" (ngSubmit)="login()">
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><mat-icon>person</mat-icon></span>
                      <input formControlName="enumtrabajador" [class.is-invalid]="f.usuario.errors && f.usuario.touched" type="email" class="form-control" id="exampleFormControlInput1" placeholder="No. Trabajador">
                  </div>
                  <br>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><mat-icon>https</mat-icon></span>
                    <input formControlName="tcontra" [class.is-invalid]="f.password.errors && f.password.touched" type="password"
                      class="form-control" id="exampleFormControlInput2" placeholder="Contraseña">
                  </div>
                  <br>
                  <div class="mb-3">
                      <button [disabled]="!formLogin.valid" type="submit" class="btn btn-dark">Ingresar</button>
                  </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
-->