<br>
<h4 style="text-align: center;">Todos los equipos</h4>

<select id="select-header" class="form-select" aria-label="Default select example">
    <option value="1">Ver todos los equipos</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
<select id="select-header" class="form-select" aria-label="Default select example">
    <option value="1">Ver todas las propiedades</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select><!-- TABLA  -->
    <button id="button-header" mat-raised-button (click)="openDialog()">Agregar nuevo equipo</button>